body {
  background-color: #040214;
  width: 90%;
  margin: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter", sans-serif;
  color: rgb(221, 218, 218);
}

#filters {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}

.thumbnail {
  width: 100%;
  max-width: 380px;
  height: 100%;
  background-color: #202648;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding-top: 10px;
  box-shadow: 2px 2px 10px #353342;
  gap: 8px;
}

.podcast-img {
  width: 90%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.seasonDetails {
  height: 15px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 10px;
}

.seasonDetails i {
  padding-right: 10px;
  color: #febf0e;
}

.seasonDetails,
.podcast-genres,
.podcast-update {
  font-size: 17px;
}

.podcast-genres,
.podcast-update {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 10px;
}

.podcast-title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 10px;
  color: #febf0e;
}
